.rateDetailBox {
  height: auto;
  width: 100%;
  position: relative;
  border-top: 3px solid #A9CBD9;
  box-sizing: border-box;
  font-size: 13px;
}

.line {
  height: 3px;
  width: 100%;
  background-color: #048ABF;
  position: absolute;
  top: 0;
}

.details{
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0;
  list-style-position: inside;
  list-style-type: none;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  padding: 0 3px;
  top: 3px;
  right: 0;
  color: #0367A6;
  border-radius: 1px;
  cursor: pointer;
}

.close:hover {
  color:#048ABF;
  background-color: #F2F2F2;
}

.rateItem {
  display: block;
  text-align: left;
  height: 20px;
  padding: 0 5px;
}

.rateLabel {
  width: 100px;
  display: inline-block;
  text-transform: capitalize;
  padding-right: 5px;
  color: #0367A6;
}
.rateValue {
  display: inline-block;
  font-size: 12px;
}

.edit span {
  color: #0367A6;
}