.App {
  text-align: center;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.AppRates {
  flex: 1;
  overflow-y: scroll;
}

.AppRateDetail {
  height: 200px;
}

/* Color Theme Swatches in Hex */
.UI/UX-1-hex { color: #5D768C; }
.UI/UX-2-hex { color: #734124; }
.UI/UX-3-hex { color: #F25C5C; }
.UI/UX-4-hex { color: #F2F2F2; }
.UI/UX-5-hex { color: #0D0D0D; }

/* Color Theme Swatches in RGBA */
.UI/UX-1-rgba { color: rgba(92, 117, 140, 1); }
.UI/UX-2-rgba { color: rgba(114, 64, 35, 1); }
.UI/UX-3-rgba { color: rgba(242, 92, 92, 1); }
.UI/UX-4-rgba { color: rgba(242, 242, 242, 1); }
.UI/UX-5-rgba { color: rgba(12, 12, 12, 1); }

